.header-button {
    padding: 1em 2em;
    border: 2px solid #a7a4a4;
    background: none;
    margin: 0;
    font-size: 18px;
    cursor: pointer;
    color: rgba(255, 255, 255, .65);
    margin: 3em;

}

.title {
    color: #c2a43b;
    font-size: 44px;
}